<div class="mt-4">
    <div class="h3 mb-4">Cập nhật khóa học</div>
    <form method="POST" action="/courses/{{this._id}}?_method=PUT">
        <div class="mb-3">
            <label for="name" class="form-label">Tên khóa học</label>
            <input type="text" class="form-control" value="{{this.name}}" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả khóa học</label>
            <textarea class="form-control" id="description" name="description">{{this.description}}</textarea>
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">Link Video</label>
            <input type="text" class="form-control" value="{{this.videoId}}" id="videoId" name="videoId">
        </div>
        <div class="mb-3">
            <label for="level" class="form-label">Trình độ</label>
            <input type="text" class="form-control" value="{{this.level}}" id="level" name="level">
        </div>
        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>
</div>